@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

/**
Colors:
Dark Orange: #FF9F55
Blue: #a3b9c9;
Light Orange: rgb(236, 206, 150);
Cream: #FCFCF5
**/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

p {
	font-size: 18px;
	font-family: 'Spectral', serif;
	display: flex;
}

h1 {
	font-size: 70px;
	color: #FCFCF5;
	font-family: 'Alata', sans-serif;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(236, 206, 150);
	font-size: 25px;
}

h3 {
	font-family: 'Spectral', serif;
	font-size: 16px;
	padding-top: 3px;
}


h4 {
	font-size: 38px;
	color: #a3b9c9;
	font-family: 'Alata', sans-serif;
	margin-bottom: 20px;
}

h5 {
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(233, 201, 143);
	text-align: center;
	font-size: 28px;
}

h6 {
	font-size: 16px;
	font-family: 'Spectral', serif;
	margin: 5px 5%;
}

.nav-style {
	background-color: rgb(236, 206, 150);
	box-shadow: 5px 10px 18px #888888;
}

.nav-option {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 18px;
	margin: 0px 3px;
}

.logo {
	font-size: 28px;
	font-weight: bold;
	text-shadow: 2px 2px #a3b9c9;
	font-family: 'Yeseva One';
	padding: 0px;
}

.section-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	background-color: #FCFCF5;
	padding: 40px 0px;
	margin: 0px 2.5%;
	border-radius: 25px;
	box-shadow: 5px 5px 10px #b3b3b3;
}

/* Home Section */
#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
	margin: 0px 10px;
	align-items: center;
	text-align: center;
	background: linear-gradient(-45deg, #85afce, #a3b9c9, #a29fda);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	color: #FCFCF5;
	box-shadow: 5px 10px 18px #888888;
}

.home-content {
	margin-top: auto;
}

.social_icons {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.icon {
	margin: 0px 20px;
	color: black;
	transform: scale(2);
}

.icon:hover {
	margin: 0px 20px;
	color: black;
	transition: transform .2s;
	transform: scale(2.25);
}

.down-arrow {
	margin-top: auto;
	color: white;
	transform: scale(2.25);
}

.down-arrow:hover {
	color: white;
}

/* About Me Section */
#about {
	padding: 20vh 0 10vh;
}

.about-section {
	flex-direction: row;
	justify-content: space-evenly;
	padding: 40px 40px;
}

.about-content {
	display: inline-block;
	width: 88vh;
	padding-bottom: 60px;
}

.prof-pic {
	height: 40vh;
	border: 7px solid rgb(236, 206, 150);
}

.resume-button {
	color: #a3b9c9;
	border: 3px solid #a3b9c9;
	text-decoration: none;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 50px;
	font-family: 'Alata', sans-serif;
	font-size: 18px;
	position: absolute;
	text-align: center;
}

.resume-button:hover {
	background-color: #a3b9c9;
	border-color: #a3b9c9;
	color: #FCFCF5;
	text-align: center;
}

/* Experience Section */
#experience {
	padding: 10vh 0px;
}

.date-styling {
	font-family: 'Spectral', serif;
}

/* Projects Section */
#projects {
	padding: 10vh 0px;
}

.project-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #85b0ce25;
	box-shadow: 4px 4px 8px #888888b4;
	padding: 20px 0px;
	max-width: 500px;
	margin: 10px 3.5%;
}

.project-pic {
	width: 99%;
	height: 350px;
	object-fit: cover;
	margin: 10px 0px;
	padding: 0px 10px;
	/* box-shadow: 2px 2px 5px #888888a6; */
}

.project-pic:hover {
	transition: transform .3s;
	transform: scale(1.02);
	/* box-shadow: 5px 5px 10px #888888a6; */
}

/* Skills Section */
#skills {
	padding: 10vh 0px;
}

/* Contact Me Section */
#contact {
	padding: 10vh 0px;
}

#contact-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

/* Footer */
#footer-section {
	position: absolute;
	width: 100%;
	background-color: rgb(236, 206, 150);
	text-align: center;
	margin-top: 30px;
}

#footer-section p {
	color: black;
	font-size: 17px;
	line-height: 15px;
	padding-left: 2%;
}

.footer-icon:hover {
	color: #a3b9c9;
}

.up-arrow {
	margin-top: auto;
	color: black;
	transform: scale(2.25);
}

.up-arrow:hover {
	color: black;
}